# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# MacOS system files
.DS_Store
__MACOSX/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# MLflow runs
mlruns/
reports/mlruns/

# Large data files

# Docker


# IDE files
*.save

# Bandit, Black, Flake8 reports
reports/*.txt

# Misc
*.swp
*.bak